{% extends 'cosmic_base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="font-size: small; margin: auto;">
    <div class="card" style="min-width: 90%;">
        <div class="card-body form-floating">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <span class="col-sm-3"></span>
                    <strong><h1 style="font-weight: 700;">Create Expense</h1></strong>
                </div>
            <br/>
            <br/>
                <form method="post" action="{% url 'create_expense' %}" id="form1">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                     
                    <div class="row">
                    <div class="col-sm-5">
                        <span class="form-group">
                            <label class="control-label col-sm-8"> Serial No <span style="color: rgb(187, 17, 17);">*</span></label>
                            <div class="col-sm-11">
    
                                <input type="text" class="form-control" name="serial_no">
                            </div>
                        </span>
                        <span class="form-group">
                            <label class="control-label col-sm-8"> Purpose <span style="color: rgb(187, 17, 17);">*</span></label>
                            <div class="col-sm-11">
    
                                <input type="text" class="form-control" name="purpose">
                            </div>
    
                        </span>
                        <span class="form-group">
                            <label class="control-label col-sm-8">Reference <span style="color: rgb(187, 17, 17);">*</span></label>
                            <div class="col-sm-11">
                                <input type="text" list="the_orders2" class="form-control" name="reference">
                            </div>
    
                        </span>
                       
                        <!-- <div class="form-group">
                            <label class="control-label col-sm-8">Attachment</label>
                            <div class="col-sm-11">
                                
                            </div>
                           
    
                        </div> -->
    
                    </div>
    
                   
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label col-sm-10">Date <span style="color: rgb(187, 17, 17);padding-top: 0;">*</span></label>
                                <div class="col-sm-11">
                                    <input type="date" name="date" class="form-control datetimepicker-input"
                                        data-target="#datepicker1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-8" for="{{form.amount.id_for_label}}">Amount<span style="color: rgb(187, 17, 17);">*</span></label>
                                <div class="col-sm-11">
                                    <input type="text" list="the_orders4" class="form-control" name="amount">
                                    
                                </div>
        
                            </div> 
                            
                             <!-- <div class="form-group">
                               <label class="control-label col-sm-8" for="{{form.subject.id_for_label}}">Attachement<span style="color: rgb(187, 17, 17);">*</span></label>
                                <div class="col-sm-11">
                                    {{form.attachement}}
                                </div>  
                                 
                        </div> -->
                           
                        </div>
                        
                        
                        
                   </div>   
                   <div class="row" style="margin-top: 20px; margin-left: 5px;">  
                   
                                    
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-5">
                            
                            <button type="submit" class="col-sm-7 btn-lg " 
                            style="background-image:url('../static/back1.PNG');color: aliceblue; margin-left: 100px;font-size: 24px; height: 62px; font-weight: bolder;">
                                Create
                            </button>
                            <span style="margin: 10px;"></span>
                            <!-- <a href="" class="btn btn-default" style="font-size: large; margin-top: 5px;">Cancel</a> -->
                        </div>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
</div>  
{% endblock %}