{% extends 'cosmic_base.html' %}

{% block content %}
   <div class="form-group pull-left">
    <div class="card shadow-lg" style="margin-left: 50px;"></div>
       <div class="card-body " style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); margin:50px 0px 0px 50px">
        <div class="col-sm-3" >
          
        </div>
        <div class="col-sm-4">
          <strong><h3 style="margin-top: 30px;">Customer Profile</h3></strong>
          
         
        </div>
        <div class="col-sm-2" style="margin-top: 30px;">
          <button type="submit" class="btn btn-primary"
                    onclick="redirectToEditCustomer('{{ my_customer.customer_name }}')">
                    <i class="fas fa-edit"></i>
                  </button>
        </div>
        <br>
        <table class="table table-striped table-bordered" style="margin-top: 70px;min-width: 800px">
          <tr>
             <td><strong>Customer Name</strong></td>
            <td>{{ my_customer.customer_name }}</td>
           
          </tr>
          <tr>
            <td><strong>Customer Email</strong></td>
           <td>{{ my_customer.email }}</td>
          
         </tr>
         <tr>
          <td><strong>Phone Number</strong></td>
         <td>{{ my_customer.phone_number }}</td>
        
       </tr>
       <tr>
        <td><strong>Customer Address</strong></td>
       <td>{{ my_customer.customer_address }}</td>
      
     </tr>
     <tr>
      <td><strong>Contact Person</strong></td>
     <td>{{ my_customer.contact_person }}</td>
    
   </tr>
   <tr>
    <td><strong>Remarks</strong></td>
     <td>{{ my_customer.comments }}</td>
   </tr>
         
          </table>
       </div>
       </div>
    </div>

<script>
  function redirectToEditCustomer(name) {
    window.location.href = `/cosmic/edit_customer?customer_name=${name}`;

    //window.location.href = `/cosmic/print_order?order_no=${orderID}&invoice_num=${invoiceID}`;
  }
</script>
{% endblock %}
