{% extends 'cosmic_base.html' %}

{% block content %}
<div class="container" >
    <strong>
        <h2 style="text-align: center; margin-bottom: 40px; margin-top: 30px;">Expense Details</h2>
      </strong>
          
              <table class="table table-striped table-bordered" id="example" style="margin-top: 20px;">
                <thead>
                  <tr>
                    <th style="text-align:left">Serial No</th>
                    <th>Date</th>  
                    <th style="text-align:left">Purpose</th>
                    <th>Reference</th>  
                    <th>Amount</th> 
                    <!-- <th>Attachement</th>  -->
                     
                  </tr>
                </thead>
                  
                <tbody>
                  {% for expense in expense %}
                  <tr>
                    <td style="text-align:left"><a href="#">{{ expense.serial_no}}</a></td>
                    <td>{{ expense.date }}</td> 
                    <td>{{ expense.purpose }}</td> 
                    <td>{{ expense.reference }}</td> 
                    <td>{{ expense.amount }}</td>  
                    <!-- <td>{{ expense.file }}</td>                    -->
                  </tr>
                  {% endfor %}
                </tbody>
                  
                  
                </table>
             
              
              
</div>


<script src="../../static/js/mr/display_MR.js"></script>

<!-- <script>

function redirectToPrintExpense(serial_no) {
  window.location.href = `/cosmic/print_expense?serial_no=${serial_no}`;
}

</script> -->

<script>
document.addEventListener("DOMContentLoaded", function () {
  const orderLinks = document.querySelectorAll(".order-link");
  console.log("p1");
  orderLinks.forEach(function (link) {
    link.addEventListener("click", function (event) {
      event.preventDefault();
      console.log("p2");
      const serial_no = this.getAttribute("data-order-id");
      window.location.href = `/cosmic/print_expense?serial_no=${serial_no}`;
    });
  });
});
</script>
{% endblock %}