{% extends 'cosmic_base.html' %}

{% block content %}
<div class="form-group ">
    
    <div class="table-responsive ">
        <table class="table table-nowrap mb-0">
            <thead>
                <tr style="margin-left: 100px;">
                    <div style="display: flex;">
        
        
                        <div class="text-muted">
                            <img src="../static/logo.jpg" alt="" style="width: 150px; border-radius: 50%; margin-left: 380px;">
                            <h3 style="margin-left: 280px;">Cosmic Connection FZE</h3>
                            <p style="margin-left: 350px; text-align: center;">Free Zone, Djibouti
                                <br>Email: tanirm@gmail.com <br>TEL.+253-77 81 55 70
                            </p>
            
                            <h4 style="margin-left: 300px; margin-top: 50px; font-size: 24px;">Truckway Bill</h4>
                        </div>
                        
                
                    
                </div>
                </tr>
                <tr>
                    <th style="width: 200px;">
                        <h4 class="text-muted text-sm-end font-size-15 mb-1">Shipper</h4>
                        <div class="text-muted">
                            <p class="mb-1" style="line-height: 1.2;font-size: small;">{{my_order.supplier_name.supplier_name}} <br>
                                {{my_order.supplier_name.supplier_address}}</p>

                        </div>
                    </th>
                    <th >
                        
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1">Date:</h5>
                                    <p>{{shipping.invoice_date}}</p>
                            
                        </div>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1">Invoice No.</h5>
                                    <p>{{shipping.truck_waybill_no}}</p>
                            
                        </div>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1">Proforma No.</h5>
                                    <p>{{my_order.order_no}}</p>
                            
                        </div>
                    </th>
                  
                    <th>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1">Customer Order No.</h5>
                            <p class="mb-1">{{shipping.customer_no}}</p>
                            
                        </div>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1">Waybill Number</h5>
                            <p class="mb-1">{{shipping.truck_waybill_no}}</p>
                            
                        </div>
                       
                    </th>
                </tr>
            </thead><!-- end thead -->
            <tbody>
                <tr>
                    {% if my_order.order_no%}
                    <th style="width: 20%">
                        <h4 class="text-muted text-sm-end font-size-13 mb-1">Buyer Details</h4>
                        <div class="text-muted font-size: small;">
                            <p class="mb-1 font-size-11" style="line-height: 1.2; font-size: small;">{{my_order.customer_name.customer_name}} <br>
                                {{my_order.customer_name.customer_address}}</p>

                        </div>
                        {% if my_order.consignee%}
                        
                        <h4 class="text-muted text-sm-end font-size-15 mb-1">Cosignee</h4>
                        <div class="text-muted">
                            <p class="mb-1" style="line-height: 1.2; font-size: small;">{{my_order.consignee.customer_name}} <br>
                                {{my_order.consignee.customer_address}}</p>
                            
                        </div>
                        {%endif%}
                    </th>
                    {%else%}
                    <th style="width: 400px;">
                        <h4 class="text-muted text-sm-end font-size-15 mb-1">Cosignee</h4>
                        <div class="text-muted">
                            <p class="mb-1" style="line-height: 1.2;">{{my_order.supplier_name.supplier_name}} <br>
                                {{my_order.supplier_name.supplier_address}}</p>
                            
                        </div>
                        
                    </th>
                    {%endif%}
                    <th>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1" style="line-height: 0.7;">Port of Loading</h5>
                            <p class="mb-1" style="line-height: 1.2;font-size: small;">{{my_order.port_of_loading}}</p>

                        </div>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1" style="line-height: 0.7;">Port Of Discharge</h5>
                            <p class="mb-1" style="line-height: 1.2;font-size: small;">{{my_order.port_of_discharge}}</p>

                        </div>
                        
                        <div class="text-muted">
                            <h5 class="text-muted text-sm-end font-size-15 mb-1" style="line-height: 0.7;">Means of
                                Transport</h5>
                            <!-- <p class="mb-1">Bole Sub city, Kebele 02,House No. 393/2</p> -->
                            <p class="mb-1" style="font-size: small;line-height: 1.2;">{{my_order.transportation}}</p>
                        </div>
                    </th>
                    <th>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1 text-sm-end" style="line-height: 0.7;">Country of Origin</h5>
                            <p class="mb-1" style="line-height: 1.2;font-size: small;">{{my_order.country_of_origin}}</p>

                        </div>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1 text-sm-end" style="line-height: 0.7;">Final Destination</h5>
                            <p class="mb-1" style="line-height: 1.2;font-size: small;">{{my_order.final_destination}}</p>

                        </div>
                        <div class="text-muted">
                            <h5 class="text-muted text-sm-end font-size-15 mb-1" style="line-height: 0.7;"> Shipment Terms</h5>
                            <!-- <p class="mb-1">Bole Sub city, Kebele 02,House No. 393/2</p> -->
                            <p class="mb-1" style="font-size: small;line-height: 1.2;">{{my_order.shipment_type}}</p>
                        </div>
                    </th>
                    

                </tr>
                <br>
                <tr>
                    <th style="width: 400px;">
                        {% if my_order.notify_party%}
                        <div class="text-muted" style="width: 240px;">
                            <h4 class="text-muted text-sm-end font-size-15 mb-1">Notify party and Address</h4>
                                    
                            <p class="mb-1" style="line-height: 1.2; font-size: small;">{{my_order.notify_party.customer_name}} <br>
                                {{my_order.notify_party.customer_address}}</p>

                            
                        </div>
                        {%endif%}
                    </th>
                    <th >
                        
                        
                        {% if shipping.ref_no%}
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1 ">Other References</h5>
                            <p class="mb-1"></p>
                            
                        </div>
                        {%endif%}
                    </th>
                    <th>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1">Payment Terms</h5>
                            <p class="mb-1">{{my_order.payment_type}}</p>
                            
                        </div>
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-1">Incoterm</h5>
                            <p class="mb-1">Incoterm 2020</p>
                            
                        </div>
                    </th>

                </tr>
                <!-- end tr -->
            </tbody><!-- end tbody -->
        </table><!-- end table -->
    </div>
    <!-- end row -->

    <div class="py-2">
      <h5 style="text-align: center;">PARTICULARS FURNISHED BY SHIPPER</h5>
        <div class="table-responsive">
            <table class="table align-middle table-nowrap table-centered mb-0">
                <thead>
                    <tr>
                        <th style="width: 140px;">Sr. No.</th>
                        <th>No. of Packages</th>
                        <th>Description of Commodities</th>
                        <th>Net Weight</th>
                        <th>Gross Weight</th>
                        
                        <!-- <th>Price</th>
                        <th>Amount</th> -->
                        <!-- <th class="text-end" style="width: 120px;">Total</th> -->
                    </tr>
                    
                </thead><!-- end thead -->
                <tbody>


                    {% if shipping_items %}
                    {% for delivery in shipping_items %}
                    <tr>
                        <td style="font-weight: bold;">0{{ forloop.counter }}</td>
                        <td>{{delivery.bags}} packages</td>
                        <td>
                            <div>
                                <h5 class="text-truncate font-size-14 mb-1">{{delivery.net_weight|floatformat:3}} MT {{delivery.item_name}}</h5>
                                <p class="text-muted mb-0">HS-code:{{delivery.hs_code}}</p>
                            </div>
                        </td>
                        
                        {% if delivery.measurement %}
                        <td>{{delivery.net_weight|floatformat:3}} {{delivery.measurement}}</td>
                        <td>{{delivery.gross_weight|floatformat:3}} {{delivery.measurement}}</td>
                        {%else%}
                        <td>{{delivery.net_weight|floatformat:3}} {{my_order.measurement_type}}</td>
                        <td>{{delivery.gross_weight|floatformat:3}} {{my_order.measurement_type}}</td>
                        {%endif%}
                        
                        <!-- <td> {{delivery.price}}</td>
                        <td>{{delivery.before_vat}}</td> -->
                        <!-- <td> {{delivery.before_vat}} </td> -->
                       
                    </tr>
                    
                    {% endfor %}
                    
                    {% endif %}
                    
                    <!--  
                            
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                            <td class="border-0 text-end"><h4 class="m-0 fw-semibold" id="final_pric"></h4></td>
                                        </tr> -->


                    </tr>
                    <!-- end tr -->
                </tbody><!-- end tbody -->
            </table><!-- end table -->
        </div><!-- end table responsive -->
        <!-- <div class="d-print-none mt-4">
                                <div class="float-end">
                                    <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                    <a href="#" class="btn btn-primary w-md">Send</a>
                                </div>
                            </div> -->

        <hr>
        <h5>Total No of Packages {{shipping.total_bags}} bags</h5>
        <div  style="margin-top: 0px;">
            <p>{{shipping.waybill_remark}}</p>
        </div>
        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const totalPrice = document.getElementById('total_price')
        const shippingPriceElement = document.getElementById('shipping_price');
        const finalPrice = document.getElementById('final_price')

        var total_price = parseFloat(totalPrice.textContent);
        var shippingPrice = parseFloat(shippingPriceElement.textContent);
        console.log(shippingPrice)
        shippingPrice = shippingPrice.toString()
        var modifiedValue = shippingPrice.replace('$', '');
        console.log(modifiedValue)
        const price = total_price + final_price

        finalPrice.innerHTML = price

    })

</script>
{% endblock %}
