<!-- templates/admin/custom_report.html -->
{% extends "cosmic_base.html" %}

{% block content %}
{% if messages %}
    <ul class="messages" style="color: red;">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div style="margin:70px 0px 30px 40px;"><h3>Update Order Status</h3></div>
    <div>
        <div class="col-sm-7" style="text-align: right;"> Approved By:</div>
        <div class="col-sm-3">
            <input type="text" name="approval" id="approval" class="form-control" placeholder="Approved By">
    </div>
       </div>
    <table class="table table-striped table-bordered" style="margin-top: 50px; margin-left: 30px;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Select</th>
                <th>Purchase ID</th>
                <th>Status</th>
                <th>Update Status</th>
                <th>Remark</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in pending_orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><input type="checkbox" name="selected_orders" value="{{ order.order_no }}"></td> 
                    <td><a href="#" class="order-link2" data-order-id="{{ order.order_no}}">{{ order.order_no }}</a></td>
                    <td>{{ order.status }}</td>
                    <td> <input type="text" class="form-control" placeholder="New Status" name="{{ order.order_no }}_status"></td>
                    <td><input type="text" class="form-control" placeholder="Reason" name = "{{order.order_no}}_status_remark" value="{{ order.status_remark }}"> </td>
                    <td>
                        <button class="btn btn-primary" type="submit" name="action" value="approve">Update</button>
                        <button class="btn btn-success" type="submit" name="action" value="complete">Completed</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</form>

{% endblock %}

